body {
  background-image: url("https://s2.glbimg.com/TdAjQAogsbNEF1JS8lqnBTqOZYg=/620x430/e.glbimg.com/og/ed/f/original/2016/06/08/thinkstockphotos-491730810.jpg"); 
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed; 
  margin: 0; 
  height: 100vh; 
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh; 
  padding: 2rem;
}

#img_principal img {
  width: 30vw; 
  height: auto; 
}

#infos {
  margin-left: 20px;
}

#div-father {
  display: flex;
  flex-wrap: nowrap;
}
#icon-menu {
  width: 1vw;
  height: 7vh;
  position: absolute;
  left: 49vw;
  top: 40vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}
#icon-menu div {
  width: 5vw;
  height: 2vh;
  background-color:aliceblue ;

  border: none;
  border-radius: 5vw;
  transition: all 0.3s ease-in-out;
}

#menu {
  width: 100vw;
  height: 20vh;

  position: absolute;
  top: 10vh;
  left: 0vw;
  z-index: -1;

  background-color: #314B7C;
  transition: all 0.3s ease-in-out;
}

#icon-menu:hover #div1 {
  transform: rotate(45deg);
  position: absolute;
  top: 3vh;
}
#icon-menu:hover #div2{
  display: none;
}
#icon-menu:hover #div3{
  transform: rotate(-45deg);
  top: 3vh;
  position: absolute; 
}  
