@import url(./footer.css);

body {
    background-image:"https://s2.glbimg.com/TdAjQAogsbNEF1JS8lqnBTqOZYg=/620x430/e.glbimg.com/og/ed/f/original/2016/06/08/thinkstockphotos-491730810.jpg"; /* Substitua pelo caminho da sua imagem */
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed;  
    margin: 0; 
    height: 100vh; 
}


section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh; 
    padding: 2rem;
}

#img_principal img {
    width: 30vw; 
    height: auto; 
}

#infos {
    margin-left: 20px;
}

#primeiro_nome {
    color: aliceblue;
    font-size: 6rem; 
    margin: 0; 
}

#segundo_nome {
    font-size: 5rem; 
    color: rgb(8, 57, 102); 
}
