@import url(./header.css);
@import url(./body.css);

body {
    font-family: Arial, sans-serif;
    background-color: #FCFAEE;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column; 
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
}

#header-content {
    display: flex;
    align-items: center; 
}

#logo_proficao {
    display: flex;
    align-items: center; 
    margin-right: 20px; 
}

#img_logo img {
    width: 50px; 
    height: auto; 
    margin-right: 10px; 
}

#btns_paginas {
    display: flex; 
    justify-content: center; 
    gap: 15px; 
}

.login-section {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100vw;
    flex-grow: 1; 
}

.login-box {
    display: flex;
    width: 70vw;
    max-width: 800px; 
    height: 80vh; 
    background-color: rgba(80, 118, 135, 0.8); 
    border-radius: 2vh;
    box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.login-image {
    flex: 1; 
    height: 100%;
    position: relative; 
}

.login-image img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}

.login-container {
    flex: 1; 
    padding: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
}

.social-login {
    margin-bottom: 2vh;
}

.social-login button {
    width: 100%;
    padding: 1.5vh;
    margin-bottom: 1.5vh;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
    font-size: 2vh;
}

.google-btn, .facebook-btn {
    background-color: #1877F2;
    color: white;
}

.input-field {
    width: 95%;
    padding: 1.5vh;
    margin-bottom: 2vh;
    border-radius: 1vh;
    border: none;
    font-size: 2vh;
}

button, input[type="button"] {
    width: 100%;
    padding: 1.5vh;
    margin-top: 2vh;
    background-color: #1663c9; 
    color: white; 
    border: none;
    border-radius: 1vh;
    cursor: pointer;
    font-size: 2vh;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

button:hover, input[type="button"]:hover {
    background-color: #042b3d; 
    transform: scale(1.05); 
}

button:active, input[type="button"]:active {
    background-color: #133e52; 
    transform: scale(0.98); 
}

.login-footer {
    margin-top: 20px; 
    font-size: 1.8vh;
}

