@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url(../header.css);
@import url(./telaCadastro.css);
@import url(./telaAtt.css);

body {
    font-family: "Abril Fatface", serif;
    margin: 2;
    padding: 0vw;
    background-size: cover; 
    background-position: center;
}

header {
   background-color: rgba(54, 97, 146, 0.781);;
}


.titulo {
    text-align: center;
    color: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem-viva {
    width: 15vw; 
    margin-right: 6vw; 
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 3vh;
}

.card {
    background-color: #ffffff; 
    padding: 0.5vw; 
    width: 18vw;
    height: 28vh; 
    text-align: center;
    border: 0;
    border-radius: 10px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out; 
}

.card:hover {
    transform: scale(1.05);
}

.card:nth-child(odd) {
    background-color: rgba(89, 112, 177, 0.698); 
}

.card:nth-child(even) {
    background-color: rgba(59, 93, 185, 0.698); 
}

.card h3 {
    margin: 0;
    color: rgb(167, 193, 216); 
}

.card img {
    width: 8vw;
    height: 12vh; 
    object-fit: cover;
    border-radius: 8px;
}

.titulo {
    color: rgba(54, 97, 146, 0.781);
    font-size: 2.5vw;
    font-family: "Abril Fatface", serif;
}

.button_card {
    width: 5vw;
    height: 5vh;
    background-color: #384a83;
    border: 0;
    border-radius: 20px;
    font-family: "Abril Fatface", serif;
    font-size: 2vh;
}

.button_cards {
    width: 5vw;
    height: 5vh;
    background-color: #5774b1;
    border: 0;
    border-radius: 20px;
    font-family: "Abril Fatface", serif;
    font-size: 2vh;
}

.cartao_add {
    width: 20vw;
    height: 28vh;
    background-color: rgba(54, 97, 146, 0.781);
    border: 0;
    border-radius: 20px;
    font-family: "Abril Fatface", serif;
    font-size: 5vh;
}