<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Cartões</title>
    <link rel="stylesheet" href="./../../CSS/projetos/projetos.css">
    <script src="./../../controller/projetos/projetos.js" defer></script>
    <script src="./../../controller/projetos/banner.js" defer></script>
    <script src="./../../controller/projetos/menu.js" defer></script>
    <script src="https://kit.fontawesome.com/8801dd93fc.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div id="logo_proficao">
            <div id="img_logo">
                <img src="https://univali.br/noticias/SiteAssets/2016-02-29-agua-viva.jpg" alt="Logo da Proficao">
            </div>
            <h3>Portifolio Isadora ♡</h3>
        </div> 
        <nav id="btns_paginas">
            <button class="btn" id="btn_home" onclick="window.location.href='./../../../index.html'">
                <h6>Home</h6>
                <i class="fa-solid fa-house-user"></i>
            </button>
            <button class="btn" id="btn_formacao" onclick="window.location.href='./formacao.html'">
                <h6>Formação</h6>
                <i class="fa-solid fa-graduation-cap"></i>
            </button>
            <button class="btn" id="btn_projetos" onclick="window.location.href= './projetos.html'">
                <h6>Projetos</h6>
                <i class="fa-solid fa-bars-progress"></i>
            </button>
        </nav>
    </header>
    <div id="div-father">
        <section>
            <nav id="banners">
                <div style="background-color: #5b94df;" class="banner" id="id-banner1"></div>
                <div style="background-color: #6b75d1;" class="banner" id="id-banner2"></div>
                <div style="background-color: #5845c2;" class="banner" id="id-banner3"></div>
                <div style="background-color: #a364d6;" class="banner" id="id-banner4"></div>
            </nav>
            <nav id="btns-banners">
                <div class="btn-banner" onclick="trocarBanner(0)"></div>
                <div class="btn-banner" onclick="trocarBanner(1)"></div>
                <div class="btn-banner" onclick="trocarBanner(2)"></div>
                <div class="btn-banner" onclick="trocarBanner(3)"></div>
            </nav>
        </section>
        <section>
            <nav id="icon-menu" onclick="trocarMenu()">
                <div id="div1"></div>
                <div id="div2"></div>
                <div id="div3"></div>
            </nav>
            <nav id="menu"></nav>
        </section>
    </div>
</body>
</html>